@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-weight: 400;
    background-color: #dee2e6;
    min-height: 100vh;
    color: #212529;
    font-family: "Martian Mono", sans-serif;
    padding: 3.2rem;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.card {
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
    border: 2px solid;
    border-radius: 1.1rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.card-image {
    display: inline-block;
    height: 25rem;
}

.card-body {
    padding: 0 1.6rem 1.6rem 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.card-body > p {
    line-height: 1.2;
}

.card-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.skills > p {
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
}

@media (max-width: 1150px) {
    .container {
        flex-wrap: wrap;
    }
    .card {
        margin: 0 auto;
    }
}
